@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-y: hidden;
}
.sections-container {
}
.sections {
}

/* html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.section-link-bg {
  background-color: white;
  color: #1e1f33;
}

.section-transition {
  @apply transition-all duration-500 ease-in-out opacity-100;
}

.ticker-label {
  @apply text-5xl font-orbitron font-bold text-gray-500 z-50;
}

.primary-color {
  @apply text-gray-700;
}
.primary-color-bg {
  @apply bg-gray-700;
}

.cursor {
  position: fixed;
  pointer-events: none;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgb(96, 255, 22);
  z-index: 100;
  transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;
}

.cursor-hover-zoom {
  background-color: rgb(91, 230, 4);
  opacity: 0.3;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.place-center {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.col-center {
  @apply flex flex-col items-center justify-center;
}

.row-center {
  @apply flex justify-center items-center;
}

.test-border-black {
  @apply border-2 border-solid border-black;
}

.test-border-white {
  @apply border-2 border-solid border-white;
}

.fourthscroll {
  background-color: #1c1c1d;
  overflow-y: auto;
}

.workbar {
  @apply border-2 border-solid border-gray-500;
}

.section-no-scroll {
  @apply overflow-y-hidden;
}
