@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.section-link-bg {
  background-color: white;
  color: #1e1f33;
}

.projectsbg {
  background-color: #4c4c5c;
  opacity: 1;
  background-image: linear-gradient(
      #485783 0.6000000000000001px,
      transparent 0.6000000000000001px
    ),
    linear-gradient(
      to right,
      #485783 0.6000000000000001px,
      #4c4c5c 0.6000000000000001px
    );
  background-size: 12px 12px;
}

.section-transition {
  @apply transition-all duration-500 ease-in-out opacity-100;
}

.ticker-label {
  @apply text-5xl font-orbitron font-bold text-gray-500 z-50;
}

.firstsection,
.secondsection,
.thirdsection,
.fourthsection {
  background-color: #9393a2;
  opacity: 1;
  background-image: radial-gradient(
    ellipse farthest-corner at 4px 4px,
    #7e7e7e,
    #7e7e7e 50%,
    #9393a2 50%
  );
  background-size: 4px 4px;
}

.primary-color {
  @apply text-gray-700;
}
.primary-color-bg {
  @apply bg-gray-700;
}

.firstsectionbg,
.secondsectionbg {
  background-color: rgba(55, 65, 81, 1);
  opacity: 1;
  background-image: linear-gradient(135deg, #7e7e7e 25%, transparent 25%),
    linear-gradient(225deg, #7e7e7e 25%, transparent 25%),
    linear-gradient(45deg, #7e7e7e 25%, transparent 25%),
    linear-gradient(315deg, #7e7e7e 25%, rgba(55, 65, 81, 1) 25%);
  background-position: 4px 0, 4px 0, 0 0, 0 0;
  background-size: 4px 4px;
  background-repeat: repeat;
}

.cursor {
  position: fixed;
  pointer-events: none;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgb(96, 255, 22);
  z-index: 100;
  transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;
}

.cursor-hover-zoom {
  background-color: rgb(91, 230, 4);
  opacity: 0.3;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.fourthsectionbg {
  background-color: #3d5579;
  opacity: 0.8;
  background-image: radial-gradient(
    ellipse farthest-corner at 5px 5px,
    #1e1f33,
    #1e1f33 50%,
    #3d5579 50%
  );
  background-size: 5px 5px;
}

.place-center {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.col-center {
  @apply flex flex-col items-center justify-center;
}

.row-center {
  @apply flex justify-center items-center;
}

.test-border-black {
  @apply border-2 border-solid border-black;
}

.test-border-white {
  @apply border-2 border-solid border-white;
}
